* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.outer-col-1 {
    background: lightgreen;
    height: 20vh;
}

.outer-col-2 {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.inner-col-1 {
    flex: 1;
}

.inner-col-2 {
    flex: 3;
}

.inner-col-1 nav {
    background-color: yellow;
    height: 40vh;
}

.inner-col-2 article {
    background-color: red;
    height: 40vh;
}

.inner-col-2 footer {
    background-color: skyblue;
    height: 40vh;
}

header,
footer,
article,
nav {
    padding: 1em;
    margin: 5px;
}
